<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="StockSqlProvider" connectionString="Data Source=u433110.mssql.masterhost.ru;Initial Catalog=u433110_mfs;Integrated Security=False;User ID=u433110;Password=3emencyann;MultipleActiveResultSets=True;"/>
  </connectionStrings>
</configuration>